html {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: tomato;
}

a:hover {
    text-decoration: underline;
    color: lime;
}

a:visited {
    color: lime;
    text-decoration: none;
}