header, h1 {
    font-size: 40px;
    padding: 20px;
    background-color: skyblue;
    font: normal 40px/1 "BBH Bartle", sans-serif;
    text-align: center;
}

html {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: lime;
}

a:visited {
    color: red;
    text-decoration: none;
}

.square-box {
    --box-width: 300px;
    text-align: center;
    width: var(--box-width);
    height: var(--box-width);
    padding: 0px 10px 0px 10px;
    margin: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
}

.horizontal-layout {
    --gap: 20px;
    gap: var(--gap);
    display: flex;
}