@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

header, h1 {
    font-size: 40px;
    padding: 20px;
    background-color: skyblue;
    font: normal 40px/1 "BBH Bartle", sans-serif;
    text-align: center;
}

html {
    font-family: "Montserrat", sans-serif;
}

a {
    color: red;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: lime;
    text-decoration: underline;
}

.horizontal-layout {
    display: flex;
    align-items: center;
    --left-margin: 5px;
    --right-margin: 5px;
    --padding: 10px;
    padding: var(--padding);
    gap: 15px;
}

.horizontal-layout > .left {
    margin-right: auto;
    margin-left: var(--left-margin);
}

.horizontal-layout > .right {
    margin-left: auto;
    margin-right: var(--right-margin);
}

.card-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: var(--btn-width, 200px);
    font-family: "Montserrat", sans-serif;
}

.question .tb {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    width: var(--tb-width, 200px);
    font-family: "Montserrat", sans-serif;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
}

.question {
    font-size: 18px;
    margin-top: 20px;
}