@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

header, h1 {
    font-size: 40px;
    padding: 20px;
    background-color: skyblue;
    font: normal 40px/1 "BBH Bartle", sans-serif;
    text-align: center;
}

html {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: lime;
}

a:visited {
    color: red;
    text-decoration: none;
}

.horizontal-layout {
    --gap: 20px;
    gap: var(--gap);
    display: flex;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: var(--btn-width, 200px);
}