header, h1 {
    font-size: 40px;
    padding: 20px;
    background-color: skyblue;
    font: normal 40px/1 "BBH Bartle", sans-serif;
    text-align: center;
}

.short-table {
    width: 150px;
    height: 150px;
    border: 5px double black;
    text-align: center;
    padding: 15px;
}

.flashcard-row {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

