.flashcard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.single-flashcard {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 15px;
    gap: 10px;
    box-sizing: border-box;
}

.flashcard-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.flashcard-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flashcard-text p{
    margin: 0;
}

.square-box {
    --box-width: 300px;
    text-align: center;
    width: var(--box-width);
    height: var(--box-width);
    padding: 0px 10px 0px 10px;
    margin: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
}