.question-heading {
    font: normal 20px/1;
    padding-top: 20px;
    font-size: 20px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: var(--btn-width, 200px);
}

.selected {
    font-weight: bold;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightcoral;
}

button.correct {
    background-color: lightgreen;
}

button.incorrect {
    background-color: lightcoral;
}